:root{
  --lightBlue: #66d1ff;
  --font-responsive: calc(16px + 0.4vw);
  --font-title-responsive: calc(16px + 0.8vw);
}


body {
  margin: 0;
  font-size: 14px;
  position: relative;
}
.map {
  width: 100vw;
  height: 100vh;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;

  /* background: white; */
  background: #22303a;
  /* background: #d89e34fa; */
  /* background: rgba(255,255,255,0.8); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 12px 10px;
  text-align: center;
}
.info h4 {
  margin: 0 0 5px;
  font-weight: bold;
  color: white;
}
.info span {
  color: #66d1ff;
}
.btnThemeControl {
  padding: 8px;
  font-size: 24px;
  background: white;
  outline: none !important;
  border: none !important;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.btnThemeControl:focus {
  outline: none !important;
}
.btnThemeControl::-moz-focus-inner {
  border: 0 !important;
}
.btnThemeControl.dark {
  background: #383434;
}
.leaflet-center {
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 1em;
}

.info-estadisticas{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
  left: 0;
  background: #22303a;
  color: white;
  z-index: 1000;
}

.info-estadisticas .content-info{
  display: flex;
  padding: 1em;
  justify-content: space-around;
}

.info-estadisticas .header-info{
  text-align: center;
  color: var(--lightBlue);
  padding: .4em 1em;
  /* font-size: 1.2em; */
  font-size: var(--font-title-responsive);
}

.info-estadisticas .content-info .estadistica{
  text-align: center;
  /* font-size: 1em; */
  font-size: var(--font-responsive);
}

.info-estadisticas .content-info .estadistica span{
  display: block;
  margin-bottom: .6em;
}
.info-estadisticas .content-info .estadistica span.icon{
  font-size: 1.2em;
  margin-bottom: .75em;
}
